PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB_NAME=didactio
OPENAI_API_KEY=
OPENAI_SYLLABUS_MODEL=gpt-4o-mini
OPENAI_CHAPTER_MODEL=gpt-4o-mini
DEEPSEEK_API_KEY=
DEEPSEEK_SYLLABUS_MODEL=deepseek-chat
DEEPSEEK_CHAPTER_MODEL=deepseek-chat
